[submodule "data/things/images"]
	path = data/things/images
	url = git@github.com:courtois-neuromod/things.stimuli.git
	datalad-id = 5504289b-0ac5-4f7c-a6cd-86af1f5c2135
[submodule "data/videogames/shinobi"]
	path = data/videogames/shinobi
	url = git@github.com:courtois-neuromod/shinobi.stimuli.git
	datalad-id = 74cb8a6e-664b-11eb-a4f2-1a44c1d5432b
[submodule "data/videogames/mario"]
	path = data/videogames/mario
	url = git@github.com:courtois-neuromod/mario.stimuli.git
	datalad-id = 23782599-795f-46e5-aefe-5ecd578e968d
[submodule "data/retinotopy"]
	path = data/retinotopy
	url = git@github.com:courtois-neuromod/retino.stimuli.git
	datalad-id = 52140b46-63c8-45a7-a03f-2f2cab0db23f
[submodule "data/fLoc"]
	path = data/fLoc
	url = git@github.com:courtois-neuromod/floc.stimuli.git
	datalad-id = e730eb7b-0a99-453c-a861-2e21d6c72062
[submodule "data/language/triplets"]
	path = data/language/triplets
	url = git@github.com:courtois-neuromod/triplets.stimuli.git
	datalad-id = 75298391-99e3-4efb-865c-0c160b459cbe
[submodule "data/videogames/mario-snes"]
	path = data/videogames/mariostars
	url = ./data/videogames/mario-snes
	datalad-id = 13404e51-6050-4ed4-902b-f8bc42cded1f
[submodule "data/videos/friends"]
	path = data/videos/friends
	url = git@github.com:courtois-neuromod/friends.stimuli.git
	datalad-id = bbbf34b9-31aa-4e35-b1ed-36525c6d7ce3
	datalad-url = git@github.com:courtois-neuromod/friends.stimuli.git
