[submodule "data/things/images"]
	path = data/things/images
	url = git@github.com:courtois-neuromod/things.stimuli.git
	datalad-id = 5504289b-0ac5-4f7c-a6cd-86af1f5c2135
[submodule "data/videogames/shinobi"]
	path = data/videogames/shinobi
	url = git@github.com:courtois-neuromod/shinobi.stimuli.git
	datalad-id = 74cb8a6e-664b-11eb-a4f2-1a44c1d5432b
[submodule "data/videogames/mario"]
	path = data/videogames/mario
	url = git@github.com:courtois-neuromod/mario.stimuli.git
	datalad-id = 23782599-795f-46e5-aefe-5ecd578e968d
[submodule "data/retinotopy"]
	path = data/retinotopy
	url = git@github.com:courtois-neuromod/retino.stimuli.git
	datalad-id = 52140b46-63c8-45a7-a03f-2f2cab0db23f
[submodule "data/language/triplets"]
	path = data/language/triplets
	url = git@github.com:courtois-neuromod/triplets.stimuli.git
[submodule "data/fLoc"]
	path = data/fLoc
	url = git@github.com:courtois-neuromod/floc.stimuli.git
	datalad-id = e730eb7b-0a99-453c-a861-2e21d6c72062
[submodule "data/videogames/mario-snes"]
	path = data/videogames/mariostars
	url = git@github.com:courtois-neuromod/mariostars.stimuli.git
	datalad-id = 13404e51-6050-4ed4-902b-f8bc42cded1f
[submodule "data/videos/friends"]
	path = data/videos/friends
	url = git@github.com:courtois-neuromod/friends.stimuli.git
	datalad-id = bbbf34b9-31aa-4e35-b1ed-36525c6d7ce3
	datalad-url = git@github.com:courtois-neuromod/friends.stimuli.git
[submodule "data/videos/movie10"]
	path = data/videos/movie10
	url = git@github.com:courtois-neuromod/movie10.stimuli.git
	datalad-id = a9ff7995-4d2d-4ea7-9b23-ec17f0c66a61
	datalad-url = git@github.com:courtois-neuromod/movie10.stimuli.git
[submodule "data/emotions"]
	path = data/emotions
	url = git@github.com:courtois-neuromod/emotions.stimuli.git
	datalad-id = b48527a1-6b6b-47aa-b947-62a670e11bd5
	datalad-url = git@github.com:courtois-neuromod/emotions.stimuli.git
[submodule "data/videogames/mario3"]
	path = data/videogames/mario3
	url = git@github.com:courtois-neuromod/mario3.stimuli.git
	datalad-id = caf26616-f8f9-41d8-b9b8-6471a4591395
	datalad-url = git@github.com:courtois-neuromod/mario3.stimuli.git
[submodule "data/narratives.stimuli"]
	path = data/narratives.stimuli
	url = git@github.com:courtois-neuromod/narratives.stimuli.git
	datalad-id = 927ecf28-eda2-421d-9d25-6a55ed312166
[submodule "data/language/petitprince"]
	path = data/language/petitprince.stimuli
	url = https://github.com/OpenNeuroDatasets/ds003643.git
	datalad-id = acc00a1b-08c3-4b06-ad19-3de01b33eeed
	datalad-url = https://github.com/OpenNeuroDatasets/ds003643.git
[submodule "data/language/localizer"]
	path = data/language/localizer
	url = git@github.com:courtois-neuromod/langlocalizer.stimuli.git
	datalad-id = dc98efba-a003-4ab6-bc11-59033fcd2846
	datalad-url = git@github.com:courtois-neuromod/langlocalizer.stimuli.git
