numpy<2.0
scipy==1.14.1
attrdict
PsychoPy
stable-retro
pandas
python-dotenv
tqdm>=4.60.0
textdistance
colorama
psychopy-sounddevice
termcolor
pyaudio
moviepy>2.0.0
python-vlc>=3.0.12118
av

# fixes for pupil
ndsi@git+https://github.com/berndie/pyndsi.git@ffmpeg-6
pyglui@git+https://github.com/pupil-labs/pyglui.git
