attrdict
PsychoPy>=2023.1.0
gym==0.25.2
#gym-retro
git+https://github.com/Farama-Foundation/stable-retro.git
pandas>=1.1.1
python-dotenv
tqdm>=4.60.0
textdistance
colorama
psychopy-sounddevice
termcolor
pyaudio
